#container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  border: 1px solid black;
}

.row {
  display: flex;
  height: 60px;
}

.box {
  width: 60px;
  height: 60px;
  border: 1px solid black;
}

#robot {
  width: 60px;
  height: 60px;
  background-image: url('./img/robot.png');
  background-size: 140%;
  background-position: center center;
  background-repeat: no-repeat;
}

#bottle,
.bottle {
  width: 60px;
  height: 60px;
  background-color: green;
  /* background-image: url('./img/robot.png'); */
  background-size: 140%;
  background-position: center center;
  background-repeat: no-repeat;
}

.stats {
  font-family: 'arial';
  text-transform: uppercase;
  font-weight: 800;
  font-size: 20px;
}

.stats p {
  margin: 0 0 0 0;
}
